.filters{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.filters form {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

@media only screen and (max-width: 800px) {
    .filters form{
        flex-direction: column;
    }
}