.grid206020 {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    margin-bottom: 20px;
    grid-template-areas: "col1206020 col1206020 col2206020 col2206020 col2206020 col2206020 col2206020 col2206020 col3206020 col3206020";
}

@media only screen and (max-width: 800px) {
    .grid206020 {
        display: grid;
        grid-template-columns: 100%;
        margin-bottom: 20px;
        grid-template-areas: 
            "col1206020"
            "col2206020"
            "col3206020";
    }
}