.topicCard{
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-areas: "upVoteButtons topicImage topicImage topicMeta topicMeta topicVotes topicVotes";
        cursor: pointer;
        padding: 5px;
        border-radius: 10px;
        margin-bottom: 5px;
        border: 2px solid #019D9D;
        padding: 5px;
}

.topicCard:hover{
    transition: all 500ms;
    box-shadow: 1px 1px 24px -1px rgba(0,0,0,0.79);
    -webkit-box-shadow: 1px 1px 24px -1px rgba(0,0,0,0.79);
    -moz-box-shadow: 1px 1px 24px -1px rgba(0,0,0,0.79);
}
.topicCard__upvote{
    grid-area: upVote;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
.cardLists a{
    text-decoration: none;
    text-decoration: none;
    color: black;
}

.topicCard__image{
    grid-area: topicImage;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}
.topicCard__image img{
    width: 100%;
    height: 100px;
    object-fit: cover;
}
.topicCard__meta{
    grid-area: topicMeta;
    text-overflow: ellipsis;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}
.topicCard__votes{
    grid-area: topicVotes;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    align-items: center;
    text-transform: uppercase;
    font-size: 18px;
}

.commentCard__upvote{
    grid-area: upVote;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 25px;
    height: 100%;
}

.upVote{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 2px solid black;
    border-radius: 20px;
}
.upVote p{
    margin-bottom: 0px;
}
.upVote__text{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding: 12px;
    box-sizing: border-box;
}

.upVote__buttons{
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 25px;
    justify-content: center;
    align-items: center;
}
.upVote__buttons .vote_plus:hover,
.topicCard__upvote .vote_plus:hover{
    color: green;
    cursor: pointer;
    transition: all 500ms;
    transform: scale(1.1);
}
.upVote__buttons .vote_minus:hover,
.topicCard__upvote .vote_minus:hover{
    color: red;
    cursor: pointer;
    transition: all 500ms;
    transform: scale(1.1);
}


@media only screen and (max-width: 800px) {
    .topicCard{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: 
        "upVoteButtons"
        "topicImage"
        "topicMeta" 
        "topicVotes"
    }
    .upVote__buttons{
        flex-direction: row;
        padding: 15px 0px 0px 0px;
        font-size: 40px;
    }
}